.experience-box {
  width: 100%;
  @include flex-cc(column);
  gap: 3rem;

  margin-bottom: 5rem;

  .info-box {
    width: 80%;
    @include flex-cs(column);
    gap: 1.5rem;

    .heading{
      @include h3(var(--grey-6), 600);
    }
    .body{
      @include font-style(1.1rem);
    }
  }


  .img-box{
    width: 80%;
    @include grid-cc;
    @include grid-auto-fit-col(25rem);

    gap: 5rem;

    img{
      width: 95%;
      height: 95%;
    }

  }
}