@mixin font-style($size, $weight: 400, $clr: var(--grey-6), $family: var(--font-family)) {
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
  color: $clr;
}

@mixin h1($clr: var(--grey-6)) {
  @include font-style(4.8rem, 700, $clr);
}

@mixin h2($clr: var(--grey-6), $weight: 700) {
  @include font-style(4rem, $weight, $clr);
}

@mixin h3-large($clr: var(--grey-6), $weight: 700) {
  @include font-style(3.8rem, $weight, $clr);
}

@mixin h3($clr: var(--grey-6), $weight: 700) {
  @include font-style(3.2rem, $weight, $clr);

  @media (max-width: 55em) {
    font-size: 2.8rem;
  }

  @media (max-width: 47em) {
    font-size: 2.5rem;
  }

  @media (max-width: 41em) {
    font-size: 2.2rem;
  }

  @media (max-width: 32em) {
    font-size: 1.8rem;
  }

  @media (max-width: 25em) {
    font-size: 1.5rem;
  }

  @media (max-width: 22em) {
    font-size: 1.2rem;
  }
}

@mixin h4($clr: var(--grey-6), $weight: 600) {
  @include font-style(2.4rem, $weight, $clr);
}

@mixin h5($clr: var(--grey-6), $weight: 500) {
  @include font-style(1.8rem, $weight, $clr);
}

@mixin bodyText($clr: var(--grey-6), $weight: 400) {
  @include font-style(1.4rem, $weight, $clr);
}