// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@font-face{
  font-family: Cera Pro;
  src: url("./fonts/CeraPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: Cera Pro;
  src: url("./fonts/CeraPro-Medium.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face{
  font-family: Cera Pro;
  src: url("./fonts/CeraPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: Cera Pro;
  src: url("./fonts/CeraPro-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

html {

  --font-family: "Cera Pro", "sans-serif";

  --grey-0: #aeaaab;
  --grey-6: #414141;

  --main-width: 90%;


}